<%- include('../partials/dash-header.ejs') %>

<section class="dash-content">

    <h4 class="dash-topic"> <%= pageDescription %> </h4>

    <div class="settings-content">

        <form action="/admin/complete-investment/<%= foundUser._id %>" method="post">
            <div class="row mb-2">

                <div class="col-12 mb-5">
                    <div class="form-group text-center">
                        <label for="plan" class="form-label">SELECT PREFERRED PLAN</label>
                        <select class="form-select form-select-lg" id="plan" name="plan"
                            aria-label="SELECT PREFERRED PLAN" required>
                            <option value="">-- select investment plan --</option>

                            <option value="LITE-MINER PLAN" <%= foundUser.firstPlan === "LITE-MINER PLAN" ? "selected" : '' %>>LITE-MINER PLAN ($300-$5,000 crypto-mining & investment
                                plan)</option>
                            <option value="STANDARD-MINER PLAN" <%= foundUser.firstPlan === "STANDARD-MINER PLAN" ? "selected" : '' %>>STANDARD-MINER PLAN ($5,500-$15,000 crypto-mining &
                                investment plan)</option>
                            <option value="PREMIUM-MINER PLAN" <%= foundUser.firstPlan === "PREMIUM-MINER PLAN" ? "selected" : '' %>>
                                PREMIUM-MINER PLAN ($16,000-$50,000 crypto-mining & investment plan)</option>

                            <option value="BEGINNER FOREX-CFD PLAN" <%= foundUser.firstPlan === "BEGINNER FOREX-CFD PLAN" ? "selected" : '' %>>BEGINNER FOREX-CFD PLAN
                                ($100-$1,000 forex-stock-cfd)</option>
                            <option value="ADVANCED FOREX-CFD PLAN" <%= foundUser.firstPlan === "ADVANCED FOREX-CFD PLAN" ? "selected" : '' %>>ADVANCED FOREX-CFD PLAN
                                ($1,500-$19,000 forex-stock-cfd)</option>
                            <option value="ELITE FOREX-CFD PLAN" <%= foundUser.firstPlan === "ELITE FOREX-CFD PLAN" ? "selected" : '' %>>ELITE FOREX-CFD PLAN
                                ($20,000-$100,000 forex-stock-cfd)</option>

                            <option value="SILVER VEST PLAN" <%= foundUser.firstPlan === "SILVER VEST PLAN" ? "selected" : '' %>>
                                SILVER VEST PLAN ($100-$1,000 commodity investment)</option>
                            <option value="GOLD VEST PLAN" <%= foundUser.firstPlan === "GOLD VEST PLAN" ? "selected" : '' %>>GOLD
                                VEST PLAN ($1,500-$19,000 commodity investment)</option>
                            <option value="DIAMOND VEST PLAN" <%= foundUser.firstPlan === "DIAMOND VEST PLAN" ? "selected" : '' %>>DIAMOND VEST PLAN
                                ($20,000-$100,000 commodity investment)</option>
                        </select>
                    </div>
                </div>


                <div class="warning mb-5">
                    <h5>IMPORTANT NOTES******</h5>

                    <ol>
                        <li>All payments must be completed within 7 hours after submitting this form.</li>
                        <li>Failure to meet up with Item (1) above might lead to termination of account and rejection of
                            further applications since our investment queue is long and we try to service our loyal
                            customers.</li>
                        <li>We prioritise BTC payments over other forms of payments, this is so for ease of global
                            payments.</li>
                        <li>We also encourage Bank transfers as this would personify your investment with us since you
                            get to talk to our helpdesk before final payment.</li>
                        <li>Card payments are not supported in many parts of the world with government restrictions or
                            trade bans.</li>
                    </ol>
                </div>


                <div class="row mb-2">


                    <div class="form-group col-6 col-md-3 mb-2">

                        <label for="currency" class="form-label">Preferred currency</label>

                        <%- include('../partials/currency-list.ejs') %>

                    </div>

                    <div class="form-group col-6 col-md-3 mb-2 order-md-3">

                        <label for="paymentMethod" class="form-label">Payment method</label>

                        <select class="form-select" id="paymentMethod" name="paymentMethod" aria-label="paymentMethod"
                            required>

                            <option value="BTC">BTC payment</option>
                            <option value="Bank transfer">Bank transfer</option>
                            <option value="Card payment">Card payment</option>

                        </select>

                    </div>

                    <div class="col-12 col-md-6 mb-2">
                        <label for="capital" class="form-label">Capital amount</label>
                        <div class="input-group">
                            <input type="number" name="capital" class="form-control" id="capital" required>
                        </div>

                    </div>



                </div>


                <div class="text-center">
                    <button id="investSubmit" type="submit" class="complete-invest-btn btn">Pay</button>
                </div>

        </form>

    </div>


</section>




<%- include('../partials/dash-footer.ejs') %>